<html lang="en">

<head>
    <link rel="stylesheet", href="/css/style.css"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" , href="/img/umbrella.png" >
    <title>About</title>
    <link rel="stylesheet", href="/css/style.css">
         <!--/css/style.css, relative to public OR./css/style.css-->
</head>
<body class="bground">    
    {{>header}}
    <div class="main-content">
    <div style="padding-bottom: 20px;"><img src="\img\pic1.jpg" class="portrait"></div>
    Hi! I am Anurudh from Indian Institute of Technology, Dhanbad.<br>
    I created this app for finding current weather for any place using Node.js, express, and used CSS to style it. <br>Hope you like it!

    </div>
    {{>footer}}
</body>

</html>