<html lang="en">
<head>
    
    <link rel="icon" , href="/img/umbrella.png" >
    <link rel="stylesheet", href="/css/style.css"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Help</title>
    <link rel="stylesheet", href="/css/style.css">
</head>
<body class="bground">
    
    {{>header}}
    <div class="main-content">
        This appplication can be used to find weather for any place.<br>
        It uses 2 API's. One for geocoding, i.e converting address to latitude and longitude. And the other one for finding the forecast for above latiude and longitude precisely. It is required because sometime API's may not provide geocoding. However both can be done in one place also.<br>
        For backend it relies on Node.js for doing all sorts of logical things and uses Express for making requests to the server and receiving responses. Instead of only using HTML I have also used handlebars to aid reusability. For beautifying I have used CSS and bootstrap.
    </div>
    {{>footer}}
</body>
</html>