<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="#" style="color:#ff5500cc; font-size: 250%; padding-right: 6%;padding-left: 4%; height:min-content" ><b>Whether</b></a>
        {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> --}}
      
        <div id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="padding-left: 4%;">
              <a class="nav-link disabled" href="/" style="color: rgb(215, 246, 143); font-size:150%">Home</a>
            </li>      
            <li class="nav-item active" style="padding-left: 4%;"></li>
              <a class="nav-link disabled" href="/document" style="color: rgb(215, 246, 143);
             font-size:150%">Documentation</a>
            </li>
            <li class="nav-item active" style="padding-left: 4%;"></li>
              <a class="nav-link disabled" href="/help" style="color: rgb(215, 246, 143);
             font-size:150%">Help+_+</a>
            </li>   
            <li class="nav-item active" style="padding-left: 4%;"></li>
              <a class="nav-link disabled" href="/about" style="color: rgb(215, 246, 143);
              font-size:150%">AboutMe</a>
            </li>   
          </ul>
        </div>
      </nav>




    <h1>{{title}}</h1>
    {{!-- <a href="/">Weather</a> --}}
    {{!-- <a href="/about">About</a>
    <a href="/help">Help</a> --}}
</header>